*{
    margin: 0px;
    padding: 0px;
}
.main-parent{
    display: flex;
    background-color: rgba(229, 84, 115, 0.1);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
}
.banner-img{
    width: 100%;
    margin-top: 50px;
}
.child-2{
    margin-right: 250px;
}
.child-1{
    margin-left: 200px;
}
.header-title{
   color: #272727;
   font-family: Lato;
   font-size: 80px;
   font-weight: 800;
   margin-right: 15px;
   
}
.header-description{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.primary-btn{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    margin-top: 20px;
    color: white;
}
.feature-info{
   color: #272727;
   text-align: center;
   font-family: Lato;
   font-size: 40px;
   font-weight: 800;
}
.feature-desc{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 50px;
}
.card-1{
    width: 275px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.card-2{
    width: 275px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background:rgba(5, 151, 160, 0.15);
}
.card-3{
    width: 275px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.card1-img{
    width: 70%;
    margin-top: 30%;
    margin-left: 15%;
}
.card2-img{
    width: 90%;
    margin-top: 20%;
    margin-left: 10%;
}
.card3-img{
    width: 75%;
    margin-left: 15%;
    margin-top: 15%;
}
.feature-card-container{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    gap: 20px;
}
.link{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    text-decoration: underline;
    color: #272727;
    text-align: center;
    font-family: Lato;
    margin-left: 40px;
    gap: 115px;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 10px;
}
.banner{
    display: flex;
    background-color: rgb(252, 209, 216);
    align-items: center;
    justify-content: space-between;
    
    
}
.hotdeal-title{
color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}
.hot-deal{
    display: flex;
    background-color: rgba(243, 93, 126, 0.1);
    justify-content: space-between;
    padding: 10px;
    margin-top: 150px;
    align-items: center;
}
.hot-deal-container{
    margin-left: 350px;
}
.hot-deal-img{
    margin-right: 350px;
}
.optional{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    line-height: 50px;
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 22px;
}
.pink{
    color: rgba(229, 84, 115, 1);
}
.media-info{
    text-align: center;
    margin-top: 150px;
}
.media-title{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin-bottom: 10px;
}
.media-desc{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.media-image{
    display: flex;
    justify-content: space-around;
    padding: 150px;
    margin: 20px;
}
.sub-container{
    size: 100%;
    height: 300px;
    text-align: center;
    margin: auto;
    background-image: url("./banner.png");
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    
}
.sub-info{
    padding: 100px;
}
.input{
    width: 440px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-left: 30px;
    text-align: start;
}
.container{
    text-align: center;
    background-color: black;
    color: white;
    padding: 100px;
    margin-top: 100px;
}
.footer-desc{
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.copy-right{
color: rgba(255, 255, 255, 0.40);;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}